
#root {
  width: 100%;
}

.App {
  display: flex;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: #f9f9f9;
}

.form-container, .cv-preview-container {
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.form-container h2, .cv-preview-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.form-container{
width: 25%;
}

.cv-preview-container{
  width: 75%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: rgb(163, 163, 163);
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.cv-preview {
  border-left: 2px solid #eee;
  padding-left: 20px;
  font-family: Arial, sans-serif; 
}

.cv-preview h1, .cv-preview h3 {
  margin: 0 0 10px 0; 
}

.cv-preview h2 {
  margin-top: 20px; 
}

.cv-preview div {
  margin-bottom: 10px;
  background: #f0f0f0; 
  padding: 10px;
  border-radius: 5px; 
}

.cv-preview p {
  margin: 0;
}

.cv-preview button {
  margin-top: 5px; 
}

.general-sub{
  display: flex;
  justify-content: space-evenly;
}

.cv-preview h1{
  text-align: center;
}

.edu-title, .exp-title{
  display: flex;
  justify-content: space-between;
}

textarea{
  height: 6em;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}